@import 'normalize.styl'

/*Paletra de colores*/

cafefuerte = #483a3a
cafeOscuro = #eae1c0
CafeClaro = #f5eedb
blanco = #ffffff
verde = #8fb98b
rojo = #de564b

body
	font-family Josefin Sans, serif
	font-size 15px
	font-weight 700
	margin 0
	padding 0

form
	display inline-block
	margin 0
	padding 0
	width 250px

footer
	width 100%
	padding 1em 0
	background-color cafefuerte
	color cafeOscuro
	display inline-block
	text-align center

h1
	display inline-block
	font-family Great Vibes, cursive
	font-size 2.5rem

h2, h3
	display block
	font-family Great Vibes, cursive
	font-size 2rem
	background-color rgba(0, 0, 0, 0)

h1, h2, h3
	margin 0
	padding .5rem 0 0 0
	text-shadow 2px 1px cafeOscuro

header
	background-color cafefuerte
	color cafeOscuro
	display none
	margin 0 0
	padding 0
	width 100%
	position relative

nav ul li
	display inline-block
	margin 0 .4rem 0 0
	padding 0 
	text-decoration none

nav ul li a
	padding 0 1rem

section
	-webkit-background-size cover
	/*background-image url('../images/cover.jpg')*/
	background-color cafeOscuro
	background-size cover
	display inline-block
	display inline-block
	height 300px
	margin 0
	padding 0
	text-align center
	width 100%

section article
	background-color rgba(230, 221, 188, .6)
	display inline-block
	margin 1rem 0 0 0
	padding .5em 0
	width 95%

.banquetes
	background-image url('../images/banquetes-cover.jpg')

.botonContacto
	background-color rojo
	border-bottom 4px solid verde
	border-radius 5px
	color CafeClaro
	font-weight 400
	font-size 19px
	padding .5rem
	display inline-block

.boton-principal
	display inline-block
	float right
	margin .6rem 1rem 0 0
	position fixed
	position absolute

.campoTexto
	border 1.5px solid CafeClaro
	border-radius 10px
	display block
	padding .5em
	margin .5em 0
	width 90%
	font-size 1rem

.conoce
	background-image url('../images/rancho-cover.jpg')

.contacto
	background-image url('../images/contacto-cover.png')

.contenedor-general
	width 100%
	padding 0
	margin 0
	display inline-block
.eventos
	background-image url('../images/eventos-cover.jpg')

.portada
	background-image url('../images/cover.jpg')

.servicios
	background-image url('../images/cover.jpg')

.slicknav_menu
	background-color cafefuerte

@media screen and (min-width: 700px)
	/* #menu is the original menu 
	.js #menu
		display inline-block

	.js .slicknav_menu
		display none*/

	body
		font-size 1rem

	h1
		font-size 5rem
	header
		display inline-block
		text-align center
		position fixed
		background-color rgba(72, 58, 58, .8)

	section
		height 600px
		text-align left

	section article
		width 300px
		margin 5rem 0 0 1rem
		padding 1rem

	.informacion
		width 50%
		text-align center

	.slicknav_menu
		display none