@import 'normalize.styl'

/*Paletra de colores*/

cafefuerte = #483a3a
cafeOscuro = #eae1c0
CafeClaro = #f5eedb
blanco = #ffffff
verde = #8fb98b
rojo = #de564b

body
	font-family Josefin Sans, serif
	font-size 19px
	margin 0
	padding 0	
h1
	font-size 3rem
	font-family Great Vibes, cursive
	display inline-block
h2, h3
	font-size 2rem
	font-family Great Vibes, cursive
	display inline-block
h1, h2, h3
	margin 0
	padding .5rem 0 0 0

header
	background-color cafefuerte
	color cafeOscuro
	display inline-block
	margin 0 0
	width 100%
	padding 0
nav ul li
	display inline-block
	margin 0 .4rem 0 0
	padding 0 
	text-decoration none
nav ul li a
	padding 0 1rem
section
	background-color cafeOscuro
	display inline-block
	margin 0
	padding 0
	width 100%
	/*background-image url('../images/cover.jpg')*/
	height 300px
	display inline-block
	text-align center
	background-size cover
	-webkit-background-size cover
section article
	background-color rgba(230, 221, 188, .8)
	display inline-block
	margin 1rem 0 0 0
	padding 0
	width 95%
	height 200px
.banquetes
	background-image url('../images/banquetes-cover.jpg')
.botonContacto
	background-color rojo
	border-bottom 4px solid verde
	border-radius 5px
	color CafeClaro
	font-size 19px
	padding .5rem
.boton-principal
	display inline-block
	float right
	margin .6rem 1rem 0 0

.conoce
	background-image url('../images/rancho-cover.jpg')
.contacto
	background-image url('../images/contacto-cover.png')
.contenedor-general
	width 100%
.eventos
	background-image url('../images/eventos-cover.jpg')
.portada
	background-image url('../images/cover.jpg')
.servicios
	background-image url('../images/cover.jpg')
