@import 'normalize.styl'

/*Paletra de colores*/

cafefuerte = #483a3a
cafeOscuro = #eae1c0
CafeClaro = #f5eedb
blanco = #ffffff
verde = #8fb98b
rojo = #de564b

body
	font-family Josefin Slab, serif
	font-size 19px
	margin 0
	padding 0	
h1
	font-size 3rem
	font-family Great Vibes, cursive
	display inline-block
h2, h3
	font-family Great Vibes, cursive
	display inline-block
h1, h2, h3
	margin 0
	padding 0

header
	background-color cafefuerte
	color cafeOscuro
	display inline-block
	margin 0 0
	width 100%
	padding 0
nav ul li
	display inline-block
	margin 0 .4rem 0 0
	padding 0 
	text-decoration none
nav ul li a
	padding 0 1rem
section
	background-color cafeOscuro
	display inline-block
	margin 0
	padding 0
	width 100%
section article 
	display inline-block
	margin 0
	padding 0
.botonContacto
	background-color rojo
	border-bottom 4px solid verde
	border-radius 5px
	color CafeClaro
	font-size 19px
	padding .5rem
.boton-principal
	display inline-block
	float right
	margin .6rem 1rem 0 0
.contenedor-general
	width 100%
.portada
	/*background-image url('../images/cover.jpg')*/
	background-image url('../images/cover.jpg')
	height 350px
	border solid 10px azul
	display inline-block
	text-align center